@font-face{
    font-family: 'Sharp Grotesk';
    src: url("../fonts/SharpGrotesk-Book20.otf");
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: 'Sharp Grotesk';
    src: url("../fonts/SharpGrotesk-Light20.otf");
    font-style: normal;
    font-weight: 300;
}
@font-face{
    font-family: 'Sharp Grotesk';
    src: url("../fonts/SharpGrotesk-Medium20.otf");
    font-style: normal;
    font-weight: 500;
}
@font-face{
    font-family: 'Sharp Grotesk';
    src: url("../fonts/SharpGrotesk-Thin20.otf");
    font-style: normal;
    font-weight: 100;
}